<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StudentHive | Edit schedule</title>
</head>
<body>
    <div class="container">
        <div class="table-container">
            <h3 th:text="'Schedule for ' + ${day}"></h3>
            <div class="table" th:if="${!lessons.isEmpty()}">
                <table>
                    <thead>
                        <tr>
                            <th>Number</th>
                            <th>Type</th>
                            <th>Time</th>
                            <th>Subject</th>
                            <th>Lecturer</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="lesson : ${lessons}">
                            <td th:text="${lesson.number}">Number</td>
                            <td th:text="${lesson.type}">Type</td>
                            <td th:text="${lesson.time}">Time</td>
                            <td th:text="${lesson.subject}">Subject</td>
                            <td th:text="${lesson.lecturer}">Lecturer</td>
                            <td th:text="${lesson.link}">Link</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3 th:unless="${!lessons.isEmpty()}">No lessons for this day!</h3>
            <form th:action="@{/schedule}" method="GET">
                <button type="submit">Go back</button>
            </form>
            <form th:action="@{/schedule/clear/{day}(day=${day})}" method="POST">
                <button type="submit">Clear schedule</button>
            </form>
        </div>
        <div class="table-container">
            <h3>Edit schedule</h3>
            <form th:action="@{/schedule/update/{day}(day=${day})}" method="POST" id="validate">
                <table>
                    <thead>
                    <tr>
                        <th>Number</th>
                        <th>Type</th>
                        <th>Time</th>
                        <th>Subject</th>
                        <th>Lecturer</th>
                        <th>Link</th>
                    </tr>
                    </thead>
                    <tbody id="edit-rows">

                    </tbody>
                </table>
                <button type="button" onclick="addRow()">Add Row</button>
                <button type="submit">Save Changes</button>
            </form>
        </div>
    </div>
    <script>
        function addRow() {
            const tableBody = document.getElementById("edit-rows");
            const row = document.createElement("tr");

            row.innerHTML = `
                <td><input type="text" name="number[]" required></td>
                <td><input type="text" name="type[]" required></td>
                <td><input type="text" name="time[]" required></td>
                <td><input type="text" name="subject[]" required></td>
                <td><input type="text" name="lecturer[]" required></td>
                <td><input type="text" name="link[]" required></td>
                <td>
                    <button type="button" onclick="deleteRow(this)">Delete</button>
                </td>
            `;

            tableBody.appendChild(row);
        }

        function deleteRow(button) {
            const row = button.parentNode.parentNode;
            row.remove();
        }

        document.querySelector("#validate").addEventListener("submit", function (event) {
            const numbers = document.querySelectorAll("[name='number[]']");
            if (numbers.length === 0) {
                alert("No changes provided!");
                event.preventDefault();
            }
        });


    </script>
</body>
</html>