<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>StudentHive | Attendance</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Attendance view</h1>
        <div class="content">
            <div th:each="dayEntry : ${groupedData}">
                <h2 th:text="${dayEntry.key}"></h2> <!-- Day -->

                <div th:each="subjectEntry : ${dayEntry.value.entrySet()}">
                    <h3 th:text="${subjectEntry.key}"></h3> <!-- Subject -->

                    <ul>
                        <li th:each="attendee : ${subjectEntry.value}" th:text="${attendee}"></li> <!-- Attendee -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>